      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/boxicons/boxicons.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/toastJS/jquery.toast.min.css" type="text/css">

      <link rel="stylesheet" href="/css/navbar.min.css" type="text/css">
      <link rel="stylesheet" href="/css/letra.min.css" type="text/css">
      <link rel="stylesheet" href="/css/profile.min.css" type="text/css">
      <link rel="stylesheet" href="/css/drapArea.min.css" type="text/css">

   </head>

	<body>
      {{> loader}}
      
      {{#isAdmin privilegio}}
         {{> navbarA 
            profile=../profile 
            apellidos=../apellidos 
            nombres=../nombres 
            privilegio=../privilegio
         }}
      {{/isAdmin}}

      {{#isGerente privilegio}}
         {{> navbarC 
            profile=../profile 
            apellidos=../apellidos 
            nombres=../nombres 
            privilegio=../privilegio
         }}
      {{/isGerente}}

      {{#isCajero privilegio}}
         {{> navbarC 
            profile=../profile 
            apellidos=../apellidos 
            nombres=../nombres 
            privilegio=../privilegio
         }}
      {{/isCajero}}

      <div class="contentView">
         <div class="container">
            <div class="designProfile">
               <div class="row">
                  <div class="col-md-12 text-center">
                     <div class="form-title">Foto del Perfil</div>

                     {{#if profile}}
                        <img class="form-imgP" src="/profile/{{profile}}" alt="Foto de {{apellidos}} {{nombres}}">
                     {{else}}
                        <img class="form-imgP" src="/profile/profile.svg" alt="Imagen Perfil">
                     {{/if}}

                     <div class="form-contentBtn" onclick="changeProfile();">                           
                        <button type="button" class="btnGeneral btnChangeProfile">Cambiar foto</button>
                     </div>
                  </div>
               </div>

               <div class="row mt-5">
                  <div class="col-md-12 text-center mb-2">
                     <div class="form-title">Datos Personales</div>
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" >Cédula</label>
                     <input type="text" class="form-control" id="cedula" name="cedula" onkeyUp="return Cedula(this);" disabled>
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Apellidos</label>
                     <input type="text" class="form-control" id="apellidos" name="apellidos" >
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Nombres</label>
                     <input type="text" class="form-control" id="nombres" name="nombres" >
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Fecha de Nacimiento</label>
                     <input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento">
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Género</label>
                     <select class="form-control" id="genero" name="genero">
                        <option class="opt" value="" selected disabled>Elegir opción</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                        <option value="No Definido">No Definido</option>
                     </select>
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Dirección</label>
                     <input type="text" class="form-control" id="direccion" name="direccion" >
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Teléfono</label>
                     <input type="text" class="form-control" id="telefono" name="telefono" >
                  </div>

                  <div class="form-group col-md-4">
                     <label for="" class="required">Email</label>
                     <input type="text" class="form-control" id="email" name="email" >
                  </div>

               </div>

               <div class="row">
                  <div class="col-md-12 text-right">
                     <button type="button" class="btnGeneral btnUpdateDates" onclick="updateData('{{nombres}} {{apellidos}}');">Actualizar datos</button>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <br>

      {{> drapArea}}

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/imaskJS/imask.min.js"></script>
      <script src="/toastJS/jquery.toast.min.js"></script>
      <script src="/js/validationsFront.min.js"></script>

      <script src="/js/navbar.min.js"></script>
      <script src="/js/drapArea.min.js"></script>

      <script>
         {{> notifications}}

         $("#cedula").val("{{cedula}}");
         $("#apellidos").val("{{apellidos}}");
         $("#nombres").val("{{nombres}}");
         $("#genero").val("{{genero}}");
         $("#fechaNacimiento").val("{{fechaNacimiento}}");
         $("#direccion").val("{{direccion}}");
         $("#telefono").val("{{telefono}}");
         $("#email").val("{{email}}");

         IMask(
            document.getElementById('fechaNacimiento'),
            {
               mask: Date,
               min: new Date(1925, 0, 1),
               max: new Date({{a}}, {{m}}, {{d}}),
               lazy: false
            }
         );

         const changeProfile = () => {
            clearImage();
            $("#modalChangePhoto").modal('show');
         }

         const clearImage = () => {
            $('.wrapperImg').removeClass('active');
            document.querySelector('.image').innerHTML = `<img class="imgTrans"/>`;
            document.querySelector('.file-name').innerHTML = ``;
         }

         $("#dataForm").on("submit", function(e) {
            e.preventDefault();
            
            imagen = $.trim($('#default-btn').val());

            Swal.fire({
               title: 'Actualizar Foto de Perfil!',
               html: `Deseas actualizar la foto de perfil del sistema COCON?`,
               imageUrl: '/img/parilladaCOCON.png',
               imageWidth: 250,
               imageHeight: 140,
               imageAlt: 'Parrillada del COCO',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, actualizar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  if (
                     imagen == ''
                  ) {
                     Swal.fire({
                        position: 'top-end',
                        imageUrl: '/img/parilladaCOCON.png',
                        imageWidth: 250,
                        imageHeight: 140,
                        imageAlt: 'Parrillada del COCO',
                        title: 'CAMPOS VACÍOS',
                        html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                        showConfirmButton: false,
                        timer: 1500
                     })
                  } else {
                     bloqueointerface();

                     var formData = new FormData($(this)[0]);

                     $.ajax({
                        url: "/photoProfile",
                        type: "POST",
                        datatype: "json",
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false
                     })
                     .done(function(res) {
                        if (res.res == 'true') {
                           desbloqueointerface();

                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              imageUrl: '/img/parilladaCOCON.png',
                              imageWidth: 250,
                              imageHeight: 140,
                              imageAlt: 'Parrillada del COCO',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 clearImage();
                                 $("#modalChangePhoto").modal("hide");
                                 location.reload();
                              }
                           })
                        }

                        if (res.res == 'false') {
                           desbloqueointerface();
                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           })
                        }

                        if (res.res == 'error') {
                           desbloqueointerface();
                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 location.reload();
                              }
                           })
                        }
                        
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               } else {
                  desbloqueointerface();
               }
            })
         });

         const updateData = (nomApe) => {
            apellidos = $.trim($('#apellidos').val());
            nombres = $.trim($('#nombres').val());
            fechaNacimiento = $.trim($('#fechaNacimiento').val());
            genero = $.trim($('#genero').val());
            direccion = $.trim($('#direccion').val());
            telefono = $.trim($('#telefono').val());
            email = $.trim($('#email').val());

            Swal.fire({
               title: 'ACTUALIZAR DATOS PERSONALES',
               html: `<p style="font-size: 1rem;"><b>${nomApe}</b> ¿Deseas actualizar los datos personales de tu cuenta?</p>`,
               imageUrl: '/img/parilladaCOCON.png',
               imageWidth: 250,
               imageHeight: 140,
               imageAlt: 'Parrillada del COCO',
               showCancelButton: true,
               confirmButtonColor: '#049947',
               cancelButtonColor: '#f34943',
               confirmButtonText: 'Sí, actualizar!',
               cancelButtonText: 'No, cancelar!',
               reverseButtons: true,
               focusConfirm: false,
               focusCancel: true,
               allowOutsideClick: false
            }).then((result) => {
               if (result.value == true) {
                  if (
                     apellidos == '' || 
                     nombres == '' || 
                     fechaNacimiento == '' || 
                     genero == '' || 
                     direccion == '' || 
                     telefono == '' || 
                     email == ''
                  ) {
                     Swal.fire({
                        position: 'top-end',
                        imageUrl: '/img/parilladaCOCON.png',
                        imageWidth: 250,
                        imageHeight: 140,
                        imageAlt: 'Parrillada del COCO',
                        title: 'CAMPOS VACÍOS',
                        html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
                        showConfirmButton: false,
                        timer: 1500
                     })
                  } else {
                     bloqueointerface();

                     $.ajax({
                        url: `/profile`,
                        type: 'PUT',
                        dataType: 'json',
                        data: {
                           apellidos,
                           nombres,
                           fechaNacimiento,
                           genero,
                           direccion,
                           telefono,
                           email
                        }
                     })
                     .done(function(res) {
                        if (res.res == 'true') {
                           desbloqueointerface();
                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              imageUrl: '/img/parilladaCOCON.png',
                              imageWidth: 250,
                              imageHeight: 140,
                              imageAlt: 'Parrillada del COCO',
                              confirmButtonColor: '#049947',
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 if (res.res == 'true') {
                                    location.reload();
                                 }
                              }
                           })
                        }

                        if (res.res == 'false') {
                           desbloqueointerface();
                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 if (res.res == 'true') {
                                    location.reload();
                                 }
                              }
                           })
                        }

                        if (res.res == 'error') {
                           desbloqueointerface();
                           
                           Swal.fire({
                              title: res.tittle,
                              html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                              icon: res.icon,
                              allowOutsideClick: false
                           }).then((result) => {
                              if (result.value == true) {
                                 if (res.res == 'true') {
                                    location.reload();
                                 }
                              }
                           })
                        }

                        if (res.res == 'toast') {
                           desbloqueointerface();
                           
                           const toastList = res.toast;

                           toastList.forEach(toastDes => {
                              $(document).ready(function() {
                                 $.toast({
                                    position: 'top-right',
                                    heading: `${toastDes.tittle}`,
                                    text: `${toastDes.description}`,
                                    icon: `${toastDes.icon}`,
                                    showHideTransition: 'plain',
                                    hideAfter: 5000
                                 })
                              })
                           });
                        }
                     })
                     .fail(function() {
                        desbloqueointerface();
                        console.log("Error");
                     });
                  }
               }
            })
         }
         
      </script>